<mat-card>
  <div class="d-flex align-items-center justify-content-between">
    <button (click)="location.back()" mat-icon-button><mat-icon>arrow_back</mat-icon></button>
    <b>Edit Profile</b>
  </div>
  <form>
    <mat-form-field>
      <input type="text" matInput placeholder="Login" />
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="First name" />
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Last name" />
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" />
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Repeat password" />
    </mat-form-field>
    <button mat-stroked-button>Edit</button>
  </form>
</mat-card>
