<mat-card>
  <h2 class="text-center mt-2">Login</h2>
  <form>
    <mat-form-field>
      <mat-label>Login</mat-label>
      <input type="text" matInput />
      <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput />
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
    <div class="w-100 d-flex align-items-center justify-content-end">
      <button type="button" routerLink="/chat" mat-button color="primary">Login</button>
      <button type="button" routerLink="register" mat-button color="accent">Register</button>
    </div>
  </form>
</mat-card>
