<div class="chat-message">
  <ul class="list-unstyled chat">
    <li class="d-flex justify-content-between mb-4">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="avatar" class="avatar rounded-circle mr-2 ml-lg-3 ml-0 z-depth-1" />
      <div class="chat-body white p-3 ml-2 z-depth-1">
        <div class="header">
          <strong class="primary-font">Brad Pitt</strong>
          <small class="pull-right text-muted"><i class="far fa-clock"></i> 12 mins ago</small>
        </div>
        <hr class="w-100" />
        <p class="mb-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </li>
    <li class="d-flex justify-content-between mb-4">
      <div class="chat-body white p-3 z-depth-1">
        <div class="header">
          <strong class="primary-font">Lara Croft</strong>
          <small class="pull-right text-muted"><i class="far fa-clock"></i> 13 mins ago</small>
        </div>
        <hr class="w-100" />
        <p class="mb-0">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
        </p>
      </div>
      <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" alt="avatar" class="avatar rounded-circle mr-0 ml-3 z-depth-1" />
    </li>
    <li class="d-flex justify-content-between mb-4 pb-3">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="avatar" class="avatar rounded-circle mr-2 ml-lg-3 ml-0 z-depth-1" />
      <div class="chat-body white p-3 ml-2 z-depth-1">
        <div class="header">
          <strong class="primary-font">Brad Pitt</strong>
          <small class="pull-right text-muted"><i class="far fa-clock"></i> 12 mins ago</small>
        </div>
        <hr class="w-100" />
        <p class="mb-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </li>
    <li class="d-flex justify-content-between mb-4">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="avatar" class="avatar rounded-circle mr-2 ml-lg-3 ml-0 z-depth-1" />
      <div class="chat-body white p-3 ml-2 z-depth-1">
        <div class="header">
          <strong class="primary-font">Brad Pitt</strong>
          <small class="pull-right text-muted"><i class="far fa-clock"></i> 12 mins ago</small>
        </div>
        <hr class="w-100" />
        <p class="mb-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </li>
    <li class="d-flex justify-content-between mb-4">
      <div class="chat-body white p-3 z-depth-1">
        <div class="header">
          <strong class="primary-font">Lara Croft</strong>
          <small class="pull-right text-muted"><i class="far fa-clock"></i> 13 mins ago</small>
        </div>
        <hr class="w-100" />
        <p class="mb-0">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
        </p>
      </div>
      <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" alt="avatar" class="avatar rounded-circle mr-0 ml-3 z-depth-1" />
    </li>
    <li class="d-flex justify-content-between mb-4 pb-3">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="avatar" class="avatar rounded-circle mr-2 ml-lg-3 ml-0 z-depth-1" />
      <div class="chat-body white p-3 ml-2 z-depth-1">
        <div class="header">
          <strong class="primary-font">Brad Pitt</strong>
          <small class="pull-right text-muted"><i class="far fa-clock"></i> 12 mins ago</small>
        </div>
        <hr class="w-100" />
        <p class="mb-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </li>
  </ul>
  <div>
    <div class="form-group basic-textarea">
      <textarea class="form-control pl-2 my-0" id="exampleFormControlTextarea2" rows="3" placeholder="Type your message here..."></textarea>
    </div>
    <button type="button" class="btn btn-info btn-rounded btn-sm waves-effect waves-light float-right">Send</button>
  </div>
</div>
