<mat-card>
  <h2 class="text-center mt-2">Register</h2>
  <form>
    <mat-form-field>
      <mat-label>Enter login</mat-label>
      <input type="text" matInput />
      <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <mat-label>First name</mat-label>
      <input type="text" matInput />
      <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last name</mat-label>
      <input type="text" matInput />
      <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput />
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Repeat password</mat-label>
      <input type="password" matInput />
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
    <div class="w-100 d-flex align-items-center justify-content-end">
      <button type="button" routerLink="/chat" mat-button color="primary">Register</button>
      <button type="button" routerLink="/" mat-button color="accent">Login</button>
    </div>
  </form>
</mat-card>
