<h6 class="font-weight-bold mb-3 text-center text-lg-left">Member</h6>
<div class="white z-depth-1 px-3 pt-3 pb-0">
  <ul class="list-unstyled friend-list">
    <li class="active grey lighten-3 p-2">
      <a href="#" class="d-flex justify-content-between">
        <img
          src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg"
          alt="avatar"
          class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1"
        />
        <div class="text-small">
          <strong>John Doe</strong>
          <p class="last-message text-muted">Hello, Are you there?</p>
        </div>
        <div class="chat-footer">
          <p class="text-smaller text-muted mb-0">Just now</p>
          <span class="badge badge-danger float-right">1</span>
        </div>
      </a>
    </li>
    <li class="p-2">
      <a href="#" class="d-flex justify-content-between">
        <img
          src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
          alt="avatar"
          class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1"
        />
        <div class="text-small">
          <strong>Danny Smith</strong>
          <p class="last-message text-muted">Lorem ipsum dolor sit.</p>
        </div>
        <div class="chat-footer">
          <p class="text-smaller text-muted mb-0">5 min ago</p>
          <span class="text-muted float-right"><i class="fas fa-mail-reply" aria-hidden="true"></i></span>
        </div>
      </a>
    </li>
    <li class="p-2">
      <a href="#" class="d-flex justify-content-between">
        <img
          src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
          alt="avatar"
          class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1"
        />
        <div class="text-small">
          <strong>Alex Steward</strong>
          <p class="last-message text-muted">Lorem ipsum dolor sit.</p>
        </div>
        <div class="chat-footer">
          <p class="text-smaller text-muted mb-0">Yesterday</p>
          <span class="text-muted float-right"><i class="fas fa-mail-reply" aria-hidden="true"></i></span>
        </div>
      </a>
    </li>
    <li class="p-2">
      <a href="#" class="d-flex justify-content-between">
        <img
          src="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg"
          alt="avatar"
          class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1"
        />
        <div class="text-small">
          <strong>Ashley Olsen</strong>
          <p class="last-message text-muted">Lorem ipsum dolor sit.</p>
        </div>
        <div class="chat-footer">
          <p class="text-smaller text-muted mb-0">Yesterday</p>
          <span class="text-muted float-right"><i class="fas fa-mail-reply" aria-hidden="true"></i></span>
        </div>
      </a>
    </li>
    <li class="p-2">
      <a href="#" class="d-flex justify-content-between">
        <img
          src="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg"
          alt="avatar"
          class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1"
        />
        <div class="text-small">
          <strong>Kate Moss</strong>
          <p class="last-message text-muted">Lorem ipsum dolor sit.</p>
        </div>
        <div class="chat-footer">
          <p class="text-smaller text-muted mb-0">Yesterday</p>
          <span class="text-muted float-right"><i class="fas fa-mail-reply" aria-hidden="true"></i></span>
        </div>
      </a>
    </li>
    <li class="p-2">
      <a href="#" class="d-flex justify-content-between">
        <img
          src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg"
          alt="avatar"
          class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1"
        />
        <div class="text-small">
          <strong>Lara Croft</strong>
          <p class="last-message text-muted">Lorem ipsum dolor sit.</p>
        </div>
        <div class="chat-footer">
          <p class="text-smaller text-muted mb-0">Yesterday</p>
          <span class="text-muted float-right"><i class="fas fa-mail-reply" aria-hidden="true"></i></span>
        </div>
      </a>
    </li>
    <li class="p-2">
      <a href="#" class="d-flex justify-content-between">
        <img
          src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg"
          alt="avatar"
          class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1"
        />
        <div class="text-small">
          <strong>Brad Pitt</strong>
          <p class="last-message text-muted">Lorem ipsum dolor sit.</p>
        </div>
        <div class="chat-footer">
          <p class="text-smaller text-muted mb-0">5 min ago</p>
          <span class="text-muted float-right"><i class="fas fa-check" aria-hidden="true"></i></span>
        </div>
      </a>
    </li>
  </ul>
</div>
