.chat-room .friend-list li {
  border-bottom: 1px solid #e0e0e0;
}

.chat-room .friend-list li:last-of-type {
  border-bottom: none;
}

.chat-room img.avatar {
  height: 3rem;
  width: 3rem;
}

.chat-room .text-small {
  font-size: 0.95rem;
}

.chat-room .text-smaller {
  font-size: 0.75rem;
}

.card.chat-room .members-panel-1,
.card.chat-room .chat-1 {
  position: relative;
  overflow-y: scroll;
}

.card.chat-room .members-panel-1 {
  height: 570px;
}

.card.chat-room .chat-1 {
  height: 495px;
}

.card.chat-room .friend-list li {
  border-bottom: 1px solid #e0e0e0;
}

.card.chat-room .friend-list li:last-of-type {
  border-bottom: none;
}

.scrollbar-light-blue::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scrollbar-light-blue::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scrollbar-light-blue::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #82b1ff;
}

.rare-wind-gradient {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#a8edea), to(#fed6e3));
  background-image: -webkit-linear-gradient(bottom, #a8edea 0%, #fed6e3 100%);
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.chat-room.small-chat {
  /* position: fixed; */
  /* bottom: 0; */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 20rem;
}
.chat-room.small-chat.slim {
  height: 3rem;
}
.chat-room.small-chat.slim .icons .feature {
  display: none;
}
.chat-room.small-chat.slim .my-custom-scrollbar {
  display: none;
}
.chat-room.small-chat.slim .card-footer {
  display: none;
}
.chat-room.small-chat .profile-photo img.avatar {
  height: 2rem;
  width: 2rem;
}
.chat-room.small-chat .profile-photo .state {
  position: relative;
  display: block;
  background-color: #007e33;
  height: 0.65rem;
  width: 0.65rem;
  z-index: 2;
  margin-left: 1.35rem;
  left: auto;
  top: -0.5rem;
  border-radius: 50%;
  border: 0.1rem solid #fff;
}
.chat-room.small-chat .profile-photo.message-photo {
  margin-top: 2.7rem;
}
.chat-room.small-chat .heading {
  height: 2.1rem;
}
.chat-room.small-chat .heading .data {
  line-height: 1.5;
}
.chat-room.small-chat .heading .data .name {
  font-size: 0.8rem;
}
.chat-room.small-chat .heading .data .activity {
  font-size: 0.75rem;
}
.chat-room.small-chat .icons {
  padding-top: 0.45rem;
}
.chat-room.small-chat .my-custom-scrollbar {
  position: relative;
  height: 18rem;
  overflow: auto;
}
.chat-room.small-chat .my-custom-scrollbar > .card-body {
  height: 18rem;
}
.chat-room.small-chat .my-custom-scrollbar > .card-body .chat-message .media img {
  width: 3rem;
}
.chat-room.small-chat .my-custom-scrollbar > .card-body .chat-message .media .media-body p {
  font-size: 0.7rem;
}
.chat-room.small-chat .my-custom-scrollbar > .card-body .chat-message .message-text {
  margin-left: 2.47rem;
}
.chat-room.small-chat .card-footer .form-control {
  border: none;
  padding: 0.375rem 0 0.43rem 0;
  font-size: 0.9rem;
}
.chat-room.small-chat .card-footer .form-control:focus {
  box-shadow: none;
}

.bcg-preview {
  height: 535px;
}
