@import '~@angular/material/theming';

// Be sure that you only ever include 'mat-core' mixin once!
// it should not be included for each theme.
@include mat-core();

// define a real custom palette (using http://mcg.mbitson.com)
$bv-brand: (
  50: #e3eef4,
  100: #b9d5e4,
  200: #8abad2,
  300: #5b9ebf,
  400: #3789b2,
  500: #1474a4,
  600: #126c9c,
  700: #0e6192,
  800: #0b5789,
  900: #064478,
  A100: #a7d2ff,
  A200: #74b8ff,
  A400: #419eff,
  A700: #2791ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$bv-orange: (
  50: #fff3e0,
  100: #ffe0b3,
  200: #ffcc80,
  300: #ffb84d,
  400: #ffa826,
  500: #ff9900,
  600: #ff9100,
  700: #ff8600,
  800: #ff7c00,
  900: #ff6b00,
  A100: #ffffff,
  A200: #fff7f2,
  A400: #ffd6bf,
  A700: #ffc6a6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$bv-red: (
  50: #f7e2e6,
  100: #ecb6c1,
  200: #e08698,
  300: #d3556e,
  400: #c9304f,
  500: #c00c30,
  600: #ba0a2b,
  700: #b20824,
  800: #aa061e,
  900: #9c0313,
  A100: #ffc7ca,
  A200: #ff949b,
  A400: #ff616b,
  A700: #ff4753,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

// mandatory stuff for theming
$bv-palette-primary: mat-palette($bv-brand);
$bv-palette-accent: mat-palette($bv-orange);
$bv-palette-warn: mat-palette($bv-red);

// include the custom theme components into a theme object
$bv-theme: mat-light-theme($bv-palette-primary, $bv-palette-accent, $bv-palette-warn);

// include the custom theme object into the angular material theme
@include angular-material-theme($bv-theme);
